.container {
  padding-top: 20px;
  text-align: center;
  font-size: 12px;
}

.data {
  margin-bottom: 10px;

  & p {
    font-size: 11px;
    margin: 5px;

    &:first-child {
      font-size: 18px;
    }

    & span {
      margin-left: 10px;
      font-size: 18px;
      color: #42A5F5;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
