.container {
  width: 100%;
  background-color: #F5F5F5;
  margin-bottom: 0.8em;
  padding: 1em;
  align-items: center;
  display: flex;
  text-align: right;
  flex-wrap: wrap;

  & p {
    margin: 0.2em 0;
  }
}

.infos {
  width: 15em;
  color: #828282;
}

.divider {
  border-right: 1px solid #BDBDBD;
  margin: auto 0.5em;
}
