.header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: #2196F3;
  font-size: 12px;
}

.submenu {
  display: flex;

  & i {
    color: white;
    font-size: 24px;
    width: 48px;
    line-height: 40px;
    justify-content: center;
    display: flex;

    // &:first-child {
    //   transform: rotate(-45deg);
    // }

    &:hover {
      background-color: #1976D2;
      cursor: pointer;
    }
  }
}
